* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #1f1f1f;
    color: #fbf2f2;
}

/* ----- HEADER ----- */
.top-bar {
    background: #2a2a2a;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #ff6600;
}

.symbol-input input {
    padding: 5px 10px;
    width: 150px;
}
.symbol-input button {
    padding: 6px 12px;
    background: #ff6600;
    border: none;
    cursor: pointer;
    color: #1f1f1f;
    font-weight: bold;
}

.timeframes button {
    padding: 6px 12px;
    margin-left: 5px;
    background: #333;
    border: none;
    color: #fbf2f2;
    cursor: pointer;
}
.timeframes button:hover {
    background: rgb(12, 228, 117);
    color: #1f1f1f;
}

.tools,
.indicators {
    background: #272727;
    padding: 20px;
    border-right: 1px solid #333;
}

.indicators {
    border-right: none;
    border-left: 1px solid #333;
}

.tools h3,
.indicators h3 {
    margin-bottom: 20px;
    color: #ff6600;
}

.tools button,
.indicators label {
    display: block;
    margin-bottom: 12px;
    padding: 8px;
    background: #333;
    border: none;
    color: #fbf2f2;
    cursor: pointer;
}
.tools button:hover {
    background: rgb(12, 228, 117);
    color: #1f1f1f;
}

/* ----- CANVAS ----- */
.chart-area {
    position: relative;
    background: #1f1f1f;
    border-style: ridge;
    height: 900px;
    
}

.chart-layout {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    grid-auto-rows: 1fr;
    max-width: 1800px;   
    margin: 0 auto; 
}

#chartCanvas {
    width: 100%;
    height: 100%;
    display: block;
}
